<!-- Header component start-->
<app-header [logoImg]="logoImage" [navItemList]="navItems" [contactInfo]="contactInfo"></app-header>
<!-- Header component end-->
<app-top-banner [data]="data"></app-top-banner>
<div class="main-content">
  <!-- Team Section -->
  <section >
    <div class="container">
      <div class="row xamin-bg">
        <div class="col-sm-12">
          <app-title-section [titleSectionProp]="titleSectionProp"></app-title-section>
        </div>
        <div class="col-md-12 wow fadeInUp mb-5 ">
          <!-- <app-team></app-team> -->
        </div>
        <div class="col-md-12 wow fadeInUp ">
          <p>How hard is the SIE?
            The SIE exam is difficult especially if you don't study correctly. You need to understand the products and the investment risks of each. In addition, you will need to know regulations  (the act of 1933, FINRA, MSRB, etc)  You also have to have a solid understanding of customer accounts.  Very little math on this test other than stock splits or current yield.
      
          The best way to study for the SIE exam is to:
      
            1. Read the book straight through first don't take a ton of notes
      
            2. Then start taking unit exams  and any quiz that you fail reread that chapter 
      
            3. Once that is done start taking 75 question test and then reread the lowest 2 sections
      
            4. Feel free to watch my Youtube videos and join my Live Q&A every Tuesday night
      
      How hard is the Series 7 top off?
            The Series 7 top-off is difficult especially if you don't study correctly. You need to understand the products and the actual application and suitability of each much deeper than the SIe exam. In addition, you will see up to 30 serious option questions.
      
          The best way to study for the Series 7 top off exam is to:
      
            1. Read the book straight through first don't take a ton of notes
      
            2. Then start taking unit exams  and any quiz that you fail reread that chapter 
      
            3. Once that is done, start taking  135 question tests and then reread the lowest 2 sections
      
            4. Feel free to watch my Youtube videos and join my Live Q&A every Tuesday night
      
      How hard is the Series 66 exam?
           The Series 66 exam is difficult especially if you don't study correctly. You need to understand the state laws and regulations. You will also have to know the various products/risks and benefits of each. This test also covers portfolio management and investment styles ( present value, future value, DCF, IRR, etc) 
      
          The best way to study for the Series 66 exam is to:
      
            1. Read the book straight through first don't take a ton of notes
      
            2. Then start taking unit exams  and any quiz that you fail reread that chapter 
      
            3. Once that is done start taking 110 question test and then reread the lowest 2 sections
      
            4. Feel free to watch my Youtube videos and join my Live Q&A every Tuesday night
      
      How long should I study for the SIE exam?
          Studying for the SIE exam is dependent on your background but typically it takes between 80-100 of studying. Some who have a finance background or older candidates who may have some personal investment experience may have an easier time with the test. but generally, you should plan on studying for 3-4 weeks minimum
      
           
      
            4. Feel free to watch my Youtube videos and join my Live Q&A every Tuesday night if you have further questions</p>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Footer start -->
<app-footer-style1 [footerProp]="footerProp" [contactInfo]="contactInfo"></app-footer-style1>
<!-- Footer end -->

